<div class="center">
  <img src="../icons/logo0.png" alt="Bootstrap" width="300" height="300">
</div>
<div class="center">

  <div class="texto-sobre">

    <h1><br>Você não é feio...só não fez a <span style="color:dimgrey">barba com a gente.</span> <br /></h1>
    <br>
      <p style="font-size: x-large; text-align: justify; font-weight: normal;">A <span style="color:dimgrey">Agendou
          Tosou</span> é uma barbearia moderna e sofisticada que combina o charme
        clássico de uma barbearia tradicional com os confortos e conveniências da era moderna. É um espaço projetado
        exclusivamente para homens que buscam um ambiente relaxante e luxuoso para cuidar de sua aparência e desfrutar
        de
        serviços de barbearia de alta qualidade.</p>
  </div>
</div>

<div class="extras">
  <img src="../icons/logo2.png" />
  <div class="social-media">
    <a href=""><img src="../icons/facebook.png" /></a>
    <a href=""><img src="../icons/instagram.png" /></a>
    <a href=""><img src="../icons/whatsapp.png" /></a>
  </div>
</div><!--extras-->