<br>
<div class="containerAux">


    <div class="headeraux">
        <div class="imgbase">
            <img src="../icons/wave-1.svg" />
            <img src="../icons/wave-2.svg" />
            <img src="../icons/wave-3.svg" />
            <img src="../icons/wave-4.svg" />
            <img src="../icons/wave-5.svg" id="shape" />
        </div>
    </div>

</div>
<br>
<br>
<div class="container" style="width: 50%">
    {{#each todosatendimentos}}
    
    <h2>Nome: {{dataValues.nome}}</h2><br>
    <h3>Horario: {{dataValues.horario}}</h3><br>
    
    <hr>
    {{/each}}
</div>
</div>
</div>