/*
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, Sans-serif;
}
*/
.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 1px; 
    padding:0 2%;
}
/*
html,body{
    height:100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

header{
    height:200px; ;
    padding:10px 0;
}
*/
.logo{
    width:55%;
}

/*
.menu{
    padding-top: 40px;
    width:50%
    text right
}

.menu a{
    color:dimgrey;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}
*/
section.sobre{
    height: calc(100% - 200px);
    position: relative;
}

.extras{
    position: absolute;
    bottom:-450px;
    right:-400px;
    width: 950px;
    height: 950px;
    border-radius: 50%;
    background-color:dimgrey;
}

.social-media{
    position: absolute;
    right: 410px;
    top: 200px;
}

.social-media img{
    display: block;
    width: 40px;
    margin: 20px 0;
}

.texto-sobre{
    margin: 50px;
    margin-top:-50px;  
}

.texto-sobre{
    font-size: 20px;
}

.texto-sobre p{
    margin: 20px 0;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: bold;
    max-width: 800px;
}

.texto-sobre button{
    border: 0;
    font-size: 11px;
    background-color:dimgrey;
    color: white;
    border-radius: 80px;
    width: 90px;
    height: 40px;
    cursor: pointer;
}